<launch>
 <!-- Start rosserial Arduino node -->
  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
      <rosparam file="$(find robot_bringup)/config/serial_params.yaml" command="load" />
  </node>
  <node name="Cmd_Vel_to_Arduino" pkg="robot_bringup" type="Cmd_Vel_to_Arduino" respawn="false" output="screen"/>

  <node pkg="robot_bringup" type="Mecanum_TF" name="Mecanum_TF" output="screen">
    <rosparam file="$(find robot_bringup)/config/odom_encoder_params.yaml" command="load"/>
  </node>

  <include file="$(find rplidar_ros)/launch/rplidar_a2m8.launch" />
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0.1175 0 0.14 0 0 0 robot_footprint laser 40" />
  
</launch>
