<launch>
<!--include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <roslaunch rosbridge_server rosbridge_websocket.launch>
<node name="move_base_goal_publisher" pkg="robot_bringup" type="send_goal.py" respawn="true" output="screen"/-->
<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  		<rosparam file="$(find robot_bringup)/mecanum/costmap_common_params_new.yaml" command="load" ns="global_costmap" />
  		<rosparam file="$(find robot_bringup)/mecanum/costmap_common_params_new.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find robot_bringup)/mecanum/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find robot_bringup)/mecanum/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find robot_bringup)/mecanum/teb_local_planner_params.yaml" command="load" />
  		<!--rosparam file="$(find robot_bringup)/mecanum/costmap_converter_params.yaml" command="load" /-->

	<param name="base_global_planner" value="global_planner/GlobalPlanner" />
	<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
	<param name="controller_frequency" value="15.0" />
	<param name="planner_patience" value="2.0" />
	<param name="controller_patience" value="15.0" />
	<param name="planner_frequency" value="2.0" />
	</node>

</launch>

